@model IEnumerable<RAShop.Shared.DTO.ProductDTO>
@{
    var pageCurrent = (int)ViewData["page"];
    int totalPages = (int)ViewData["totalPage"];
    int subCateId = (int)ViewData["subCateId"];
}
<div class="container mt-5">
    <div class="d-flex flex-wrap">
        @foreach (var item in ViewBag.Products)
        {
            var pathImage = "../frontend/assets/img/product/" + @item.MainImg + ".png";
            <div class="card-fix">
                <a asp-controller="Product" asp-action="GetProductDetail" asp-route-id="@item.ProductId">
                    <img src="@pathImage" class="card-img-top" alt="@item.ProductName">
                </a>
                <div class="card-body">
                    <h5 class="card-title ms-3">@item.ProductName</h5>
                    <hr>
                    <p class="card-text text-center fs-5" style="color:#e68b24 ;">@string.Format("{0:#,##0.##}₫",
                    @item.Price)</p>
                    @* <a class="btn btn-addtocart" asp-controller="ShoppingCart" asp-action="AddProdToCart"
                        asp-route-prodid="@item.ProductId">Buy</a> *@
                </div>
            </div>
        }
    </div>
</div>

@if(totalPages == 1)
{
    
}
else if (pageCurrent == 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item "><a class="page-link" asp-controller="Product" asp-action="GetProductBySubCateId"
               asp-route-cateid="@subCateId" asp-route-pageCurrent="@(pageCurrent + 1)">Next</a></li>
        </ul>
    </nav>
}
else if (pageCurrent == totalPages)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item "><a class="page-link" asp-controller="Product" asp-action="GetProductBySubCateId"
               asp-route-cateid="@subCateId" asp-route-pageCurrent="@(pageCurrent - 1)">Previous</a></li>
        </ul>
    </nav>
}
else{
  <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item "><a class="page-link" asp-controller="Product" asp-action="GetProductBySubCateId"
                asp-route-cateid="@subCateId" asp-route-pageCurrent="@(pageCurrent - 1)" >Previous</a></li>
            <li class="page-item "><a class="page-link" asp-controller="Product" asp-action="GetProductBySubCateId"
                asp-route-cateid="@subCateId" asp-route-pageCurrent="@(pageCurrent + 1)">Next</a></li>
        </ul>
    </nav>
}
