@model IEnumerable<RAShop.Shared.DTO.CartDTO>
@{int stt = 1;}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Handle</th>
                <th scope="col">Handle</th>          
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@stt</th>
                    <th>@item.Product.ProductId</th>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Product.Price</td>
                <td>@item.Total</td>
                </tr>
            }
        </tbody>
    </table>
